body {
  background: #000;
  color: #fff;
  font-family: Courier New, monospace;
  font-size: 11pt;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.container {
  min-height: 100%;
  position: relative;
}
.panel {
  width: 100%;
  height: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4d4d4d;
  -webkit-transition: all 0.25s ease-in-out;
}
.panel a {
  color: #4d4d4d;
  text-decoration: none;
}
.panel:hover {
  height: 20px;
  color: #fff;
  background: #2f2f2f;
  -webkit-transition: all 0.25s ease-in-out;
}
.panel:hover a {
  color: #fff;
}
.menu {
  float: left;
  text-align: left;
  height: 20px;
  padding: 0px 0px 10px 0px;
}
.menu:hover a:hover {
  color: #000;
}
.menu-logo {
  padding-left: 10px;
  padding-right: 20px;
}
.menu-item {
  padding: 5px 30px 0px 5px;
  heigh: 20px;
  -webkit-transition: all 0.25s ease-in-out;
}
.menu-item:hover {
  padding: 20px;
  color: #000;
  background: #fff;
  -webkit-transition: all 0.25s ease-in-out;
}
.user {
  margin-right: 30px;
  float: right;
  text-align: right;
}
.clear {
  float: clear;
}
.body {
  padding-top: 20px;
  padding-left: 40px;
  paddint-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #000;
}
#footer-chat-message {
  width: 100%;
  height: 100%;
  font-family: Courier New, monospace;
  font-size: 24pt;
}
#conversation {
  overflow: auto;
  height: 500px;
}
